.otpInput {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  margin-bottom: 1rem;
}

.otpInput input {
  width: 45px;
  height: 45px;
  border-radius: 5px;
  outline: none;
  border: 2.5px solid #a5a5a5;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
}

.otpInput input:focus {
  border-color: var(--primary-color);
}
