.locationSearchBar {
  height: 4.5rem;
  display: flex;
  align-items: center;
  background: var(--background-color);
  border: 1px solid var(--border-color);
  border-radius: 1.6rem;
  overflow: hidden;
}

.locationSearchBar input {
  flex: 1;
  min-width: 0;
  height: 100%;
  padding: 0 2rem;
  font-size: 1.7rem;
  background: transparent;
  font-size: 1.4rem;
  color: var(--text-primary);
  font-weight: 500;
}

.locationSearchBar input::placeholder {
  color: var(--text-blur);
}

.locationSearchBar .searchBtn {
  width: 4rem;
  min-width: 4rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.locationSearchBar .searchBtn svg {
  font-size: 2rem;
  color: var(--primary-color);
}
