.location-splash {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 10rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  text-align: center;
  background: var(--background-color);
}

.location-image {
  width: 27rem;
  max-width: 80%;
  margin-bottom: 1rem;
  user-select: none;
  pointer-events: none;
}

.location-splash h2 {
  font-family: var(--font-heading);
  font-size: 2.6rem;
  font-weight: 700;
  color: var(--text-primary);
  margin-bottom: 1rem;
}

.location-splash p {
  max-width: 30rem;
  font-size: 1.5rem;
  line-height: 1.5;
  color: var(--text-secondary);
  margin-bottom: 3rem;
}
