.splash {
  height: 100vh;
  background: var(--background-color);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}

.logo {
  width: 20rem;
  transform: translateY(-5rem);
}


