/* pin icon */
.pinContainer {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 400;
  pointer-events: none;
}

.pinContainer .locationPin {
  position: absolute;
  color: var(--primary-color);
  font-size: 3rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
}

/* map blinker */
.currentLocationMarker {
  background: transparent;
  border: none;
}

.locationDot {
  width: 12px;
  height: 12px;
  background: #007bff;
  border-radius: 50%;
  border: 2px solid white;
  position: relative;
}

.locationDot::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  transform: translate(-50%, -50%);
  background: rgb(0 123 255 / 92%);
  border-radius: 50%;
  z-index: -1;
  animation: locationPulse 1.5s ease-out infinite;
}

@keyframes locationPulse {
  0% {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0.8;
  }

  100% {
    transform: translate(-50%, -50%) scale(1.5);
    opacity: 0;
  }
}
