/* map blinker */
/* Remove Leaflet default icon styling */
.currentLocationMarker {
  background: transparent;
  border: none;
}

/* pin icon */
.pinContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: translate(-34%, -65%);

  z-index: 1000;
  pointer-events: none;
  color: var(--primary-color);
  font-size: 3rem;
}

.locationPulse {
  position: relative;
  width: 40px;
  height: 40px;
}

.locationPulse::before {
  content: "";
  position: absolute;
  inset: 0;

  border-radius: 50%;
  background: rgba(77, 163, 255, 0.25);

  animation: locationPulse 2s ease-out infinite;
}

.locationDot {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 10px;
  height: 10px;

  transform: translate(-50%, -50%);

  background: #4da3ff;
  border: 2px solid white;
  border-radius: 50%;
}

@keyframes locationPulse {
  0% {
    transform: scale(0.5);
    opacity: 0.8;
  }

  70% {
    transform: scale(1.5);
    opacity: 0;
  }

  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}
