/* google font import link */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* CSS root variable */
:root {
  /* Fonts */
  --font-main: "Lato", sans-serif;
  --font-heading: "Poppins", sans-serif;

  /* Brand Colors */
  --primary-color: #ff5a1f;
  --primary-hover: #e84d16;

  /* Background Colors */
  --background-color: #ffffff;
  --surface-color: #f8f8f8;

  /* Text Colors */
  --text-primary: #222222;
  --text-secondary: #666666;

  --text-blur: #a0a0a0;

  /* Border */
  --border-color: #e5e5e5;

  /* Status */
  --success-color: #22c55e;
  --error-color: #ef4444;
  --warning-color: #f59e0b;

  /* transitions */
  --transition-fast: 0.2s ease;
  --transition-normal: 0.3s ease;
  --transition-slow: 0.4s ease;
}

/* Universal Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-heading);
}

/* HTML & Body Styling */
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100vh;
  background-color: var(--bg-primary);
  position: relative;
  /* overflow: hidden; */
}

/* Headings & Paragraph */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

/* Buttons */
button {
  border: none;
  outline: none;
  background: none;
  font: inherit;
  cursor: pointer;
}

/* Inputs & Textareas */
input,
textarea {
  border: none;
  outline: none;
  font: inherit;
  background-color: transparent;
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
}

/* Lists */
ul,
ol {
  list-style: none;
  padding: 0;
}

/* Images */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--bg-secondary);
  border: 2px solid var(--bg-primary);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* ----------------- REUSABLE CLASSES ----------------- */

/* container */
.container {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  padding: 0 1.5rem;
  box-sizing: border-box;
}

/* buttons */

/* Common Button */
.btn {
  width: 100%;
  height: 4rem;
  border: none;
  border-radius: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 600;
  cursor: pointer;
  transition: var(--transition-fast);
  user-select: none;
}

/* Primary Button */
.btnPrimary {
  background: var(--primary-color);
  color: #fff;
}

.btnPrimary:hover {
  background: var(--primary-hover);
}
