.foodCategories-stats-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

/* category list heading */

.category-list {
    width: 100%;
}

.category-list-header {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1.5rem;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--text-primary);
    
}

.category-col {
    flex-shrink: 0;
}

.category-col-image {
    width: 15%;
}

.category-col-name {
    width: 22%;
}

.category-col-order {
    width: 8%;
    text-align: center;
}

.category-col-top {
    width: 15%;
    text-align: center;
}

.category-col-status {
    width: 12%;
    text-align: center;
}

.category-col-created {
    width: 13%;
    text-align: center;
}

.category-col-actions {
    width: 15%;
    text-align: center;
}