.admin-sidebar {
  width: max-content;
  flex-shrink: 0;
  background-color: #ffffff;
  padding: 1.5rem 1rem;
  border-right: 0.1rem solid var(--border-color);
  position: relative;
  z-index: 2;
}

.sidebarToggle {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 1.6rem;
}

.sidebarToggle .toggleIcon {
  font-size: 2.1rem;
  background: #f6f6f6;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.2rem 1.4rem;
  transition: var(--transition-fast);
  cursor: pointer;
  border-radius: 0.8rem;
}

/* Expanded */
.sidebarToggle .close {
  margin-left: auto;
}

/* Hover */
.sidebarToggle .toggleIcon:hover {
  background-color: var(--sruface-color-3);
  color: var(--primary-color);
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  width: max-content;
}

.sidebar-link {
  display: flex;
  align-items: center;
  gap: 1.4rem;
  padding: 1.2rem 1.4rem;
  border-radius: 0.8rem;
  text-decoration: none;
  color: var(--text-primary);
  font-size: 1.6rem;
  font-weight: 500;
  white-space: nowrap;
  transition: var(--transition-fast);
  height: 5.5rem;
}

/* Icon */
.sidebar-icon {
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
}

/* Text */
.sidebar-text {
  overflow: hidden;
  white-space: nowrap;
  transition: var(--transition-fast);
}

/* Hover */
.sidebar-link:hover {
  background-color: var(--sruface-color-3);
}

/* Active */
.sidebar-link.active {
  background-color: var(--sruface-color-3);
  color: var(--primary-color);
  font-weight: 500;
}

.sidebar-text.activeText {
  display: none;
}

.sidebar-link.activeLink {
  gap: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
