.admin-sidebar {
    width: 20%;
    flex-shrink: 0;

    min-height: calc(100vh - 70px);

    background-color: var(--background-color);
    border-right: 1px solid var(--border-color);

    padding: 25px 15px;

    display: flex;
    flex-direction: column;
    gap: 8px;
}

.admin-sidebar a {
    padding: 12px 15px;

    text-decoration: none;

    font-family: var(--font-main);
    font-size: 16px;
    font-weight: 500;

    color: var(--text-secondary);

    border-radius: 8px;

    transition: var(--transition-fast);
}

.admin-sidebar a:hover {
    background-color: var(--surface-color);
    color: var(--primary-color);
}

.admin-sidebar a.active {
    background-color: #fff1eb;
    color: var(--primary-color);
    font-weight: 600;
}